@charset "utf-8";

/* main */
#ct1 { position: relative; clear: both;}
#ct1 .page { width: 100vw; height: 100vh;}
#ct1 #page1 { width: 100vw; height: calc(100vh - 83px);}

#ct1 #page1 #vs { display: flex; width: 100vw; height: 500px; margin-top: 3px;}
#ct1 #page1 #vs .bn1{ position: relative; width: 30vw; height: 500px; background-image:url(../src/index/banner12_600x500.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;}
#ct1 #page1 #vs .bn1:after { content: ""; position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); top: 0; left: 0; z-index: 0; opacity: 0; transition: 0.4s;}
#ct1 #page1 #vs .bn1 .bn1_con_box { position: absolute; display: flex; width: 100%; height: 100%; flex-flow: column wrap; justify-content: center; align-items: center; z-index: 1; font-family: 'Nanum Pen Script', cursive; opacity: 0; transition: 0.6s; }
#ct1 #page1 #vs .bn1 .bn1_tit { color: white; font-size: 4.5em; }
#ct1 #page1 #vs .bn1 .bn1_com { color: white; font-size: 2.4em; }
#ct1 #page1 #vs .bn1 .bn1_com2 { color: white; font-size: 2.2em; }
#ct1 #page1 #vs .bn1 .bn1_more { display: block; color: goldenrod; font-size: 3em; font-weight: bold;}
#ct1 #page1 #vs .bn1:hover::after { opacity: 1;}
#ct1 #page1 #vs .bn1:hover .bn1_con_box { opacity: 1;}

#ct1 #page1 #vs .bn2 { position: relative; width: 70vw; height: 500px; overflow: hidden;}
#ct1 #page1 #vs .bn2 .img_box { width: 210vw; height: 500px;}
#ct1 #page1 #vs .bn2 .img_box li { position: relative; float: left; width: 70vw; height: 500px;}
#ct1 #page1 #vs .bn2 .img_box li img { display: block; width: 100%; position: absolute; top: -10vh;}

#ct1 #page1 #vs .bn2 .img_btn_fr { position: absolute; width: 105px; height: 25px; bottom: 5vh; left: 50%; transform: translate(-50%, 0);}
#ct1 #page1 #vs .bn2 .img_btn_box { position: relative; }
#ct1 #page1 #vs .bn2 .img_btn_box button { position: absolute; width: 15px; height: 15px; border-radius: 100%; background-color: navy; box-shadow: 0px 0px 5px white; top: 5px;transition: 0.6s; cursor: pointer;}
#ct1 #page1 #vs .bn2 .img_btn_box .img_btn1 { left: 10px;}
#ct1 #page1 #vs .bn2 .img_btn_box .img_btn2 { left: 45px;}
#ct1 #page1 #vs .bn2 .img_btn_box .img_btn3 { left: 80px;}
#ct1 #page1 #vs .bn2 .img_btn_box button.on { background-color: orange; animation: jellyAni 2s infinite; }

@keyframes jellyAni {
    from,to { transform: scale(1.2, 1.2); }
    25% { transform: scale(1.1, 1.3); }
    50% { transform: scale(1.3, 1.1); }
    75% { transform: scale(1.15, 1.25); }
}